* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.App {
  padding: 15px 10px 15px 10px;
}

h1 {
  margin: 25px 0 20px 0;
}

/*------------------ID CARD---------------------*/

section.user-section {
  border: 1px solid #000000;
  display: flex;
  margin: 10px 0;
  padding: 5px
}

section.user-section div.photo-div {
  display: flex;
  padding: 0 5px 0 0;
}

section.user-section div.photo-div img.user-pic {
  width: 150px;
}

span {
  font-weight: 700;
}

/*------------------BOX COLOR---------------------*/

section.color-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------------CREDIT CARD---------------------*/

section.credit-card-container {
  display: flex;
  flex-direction: row;
}

section.credit-card-section {
  border-radius: 25px;
  background-color: beige;
  width: 370px;
  height: 190px;
  padding: 25px;
  margin: 0 10px;
}

section.credit-card-section div.bank-logo-container {
  display: flex;
  justify-content: flex-end;
}

section.credit-card-section div.number-div {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: flex-start;
}

section.credit-card-section div.number-div p.card-number{
  font-size: 30px;
}

section.credit-card-section div.expires-bank-div {
  display: flex;
  gap: 10px;
}

img.logo-credit-card-visa {
  width: 50px;
  margin-bottom: 20px;
}

img.logo-credit-card-mastercard {
  width: 50px;
}

img.logo-credit-card-default {
  width: 30px;
}

/*------------------DRIVER CARD---------------------*/

section.driver-card-section {
  background-color: rgb(38, 90, 234);
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  margin: 10px 0;
}

section.driver-card-section div.image-driver img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

section.driver-card-section div.name-rating-driver h2{
  margin-bottom: 5px;
}

section.driver-card-section div.name-rating-driver h2.h2-driver {
  margin-bottom: 5px;
  font-size: 30px;
}

/*------------------LIKE BUTTON---------------------*/

div.buttons-section {
  display: flex;
  gap: 10px;
}

section.section-like-button button{
  border: none;
  padding: 5px 10px;
}

.green {
  background-color: green;
  color: #ffffff;
}

.red {
  background-color: red;
  color: #ffffff;
}

.blue {
  background-color: blue;
  color: #ffffff;
}

.purple {
  background-color:purple;
  color:#ffffff;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

/*------------------DICE---------------------*/

section.section-dice img.dice-image {
  width: 200px;
}

/*------------------CAROUSEL---------------------*/

section.section-carousel {
  display: flex;
  align-items: center;
  gap: 5px;
}

section.section-carousel img.carousel-image {
  width: 250px;
}

section.section-carousel button {
  background-color: white;
  border: none;
  font-size: 20px;
}

/*------------------TABLE---------------------*/

section.section-table tbody tr {
  display: flex;
  flex-wrap: wrap;
}

section.section-table tbody tr td{
  border: 2px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: rgb(245, 68, 68);
}

.white {
  background-color: #ffffff;
}

/*------------------FACEBOOK---------------------*/

section.fb-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.blue-button {
  background-color: rgb(131, 213, 213);
  border: 1px solid #949494;
  padding: 5px 10px;
}

.white-button {
  background-color: white;
  border: 1px solid #949494;
  padding: 5px 10px;
}

.blue-background {
  background-color: rgb(131, 213, 213);
}

.white-background {
  background-color: white;
}